#main{
    margin-left:150px;
    
}

#page{
    margin:10px auto;
    width: 710px;
    background-color: white;
    margin: 10px auto;
    padding: 10px; 
    
}


.sidebar{
    height: 350px;
    width: 300px;
    
}

.banner{
    height: 85px;
    width: 300px;
}

.navigation{
    height: 56px;
    width: 560px;
}

/* Table decorations*/
.table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

caption{
    text-align: center;
    color: darkslateblue
}

.input{
    width: 135px;
}

/* Footer decorations*/
#footer{
    margin-top: 5em;
    border-top: 2px solid grey;
    padding-top: 7em;
    clear: left;
}
.copyright{
    float: right;
}